.black-mass>.redraw_parent {
    display: flex;
    flex-direction: column-reverse;
}
.black-mass>.redraw_parent>.redraw_toolbar {
    margin-bottom: 12px;
}
.black-mass>.redraw_parent>.canvas-container {

}
.black-mass>.redraw_parent>.redraw_toolbar:after {
    content: ' ';
    height: 0;
    position: relative;
    left:-280px;
    width: 0;
    top:42px;
    border: 10px solid transparent;
    border-top-color: #575757;
}

.black-mass>.redraw_parent>.redraw_toolbar button {
    line-height: 40px;
    background: #575757;
    background: linear-gradient(to bottom, #575757 0%,#525252 10%,#4a4a4a 25%,#4c4c4c 37%,#4d4d4d 50%,#434343 51%,#525252 83%,#585858 100%);
    padding-left:1.1em;
    padding-right:1.1em;
    color:#bbb;
    border:none;
    outline: none;
    margin: 0;
}
.black-mass>.redraw_parent>.redraw_toolbar button.active {
    color:#f50;
    background: linear-gradient(to bottom, #767676 0%,#6f6f6f 10%,#646464 25%,#666666 37%,#686868 50%,#5b5b5b 51%,#6e6e6e 83%,#777777 100%); /* W3C */
}
.black-mass>.redraw_parent>.redraw_toolbar button:hover {

    background: #898989; /* Old browsers */
    background: linear-gradient(to bottom, #898989 0%,#828282 10%,#757575 25%,#777777 37%,#797979 50%,#6a6a6a 51%,#818181 83%,#8b8b8b 100%);
    color:#000;
    border:none;
}
.black-mass>.redraw_parent>.redraw_toolbar button:first-of-type {
    padding-left:1.4em;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.black-mass>.redraw_parent>.redraw_toolbar button:last-of-type {
    padding-right:1.4em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}