h1 {
	font-family: monospace;
}
#actionArea {
	padding:1em;
}
#actionArea:hover #toolbar {

}
#toolbar {
	margin:-left:0;
	margin-bottom: 10px;
}
#toolbar:after {
	content: ' ';
	height: 0;
	position: absolute;
	left:100px;
	width: 0;

	border: 10px solid transparent;
	border-top-color: #292b30;
}

#toolbar ul {
	padding: 0;
	margin: auto;

	display: flex;
	list-style: none;
}
#toolbar ul li:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#toolbar ul li:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right:none !important;
}
#toolbar ul li {
	display: inline-block;

	// background: linear-gradient(to bottom, #2d3135 0%,#585966 50%,#2d3135 51%,#605F6B 100%); /* W3C */

	background: -webkit-linear-gradient(top, #555 0%,#444 50%,#333 51%,#000 100%);
	color:rgb(192,192,192);
	cursor: pointer;
	border-right:1px solid #888;
	padding: 10px;
	width:50px;
	text-align: center;
}
#toolbar ul li.active {
	background: -webkit-linear-gradient(top, #666 0%,#4f4f4f 50%,#444 51%,#333 100%);
	color:rgb(240,240,240);
	cursor: pointer;
	border-right:1px solid #888;
	padding: 10px;
	width:50px;
	text-align: center;
}
#toolbar ul li:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
	background: red; /* Old browsers */
	background: -webkit-linear-gradient(top, #333 0%,#555 46%,#444 54%,#666 100%);

	// background: -webkit-linear-gradient(#585966, #2d3135); /* For Safari 5.1 to 6.0 */
	// background: -o-linear-gradient(#585966, #2d3135);  For Opera 11.1 to 12.0
	// background: -moz-linear-gradient(#585966, #2d3135); /* For Firefox 3.6 to 15 */
	// background: linear-gradient(#585966, #2d3135); /* Standard syntax */
	color:rgb(192,192,192);
}
#toolbar ul li.icon {
	font-family: monospace;
	font-size: 200%;
}
#toolbar ul li i {
	font-size: 22px;
}
#toolbar ul li.inactive i {
	color:#688;
}
#toolbar ul li.inactive:hover {
	// background: #999;
}


#dumpArea {
	max-height: 0;
	overflow: hidden;
	transition: max-height .6s;
	font-family: monospace;
	color: #444;
	font-weight: bold;
}
#dumpArea.active {
	max-height: 500px;
	overflow: scroll;
}