button {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  // background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background:linear-gradient(to bottom, #888 5%, #777 100%);

  background-color:#888;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #666;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aaa;
}
button:hover {

  background:linear-gradient(to bottom, #999 5%, #888 100%);

  background-color:#999;
}
button:active {
  position:relative;
  top:1px;
}
